<div class="row">
  <div class="col-sm-8 playlist-main">
    {{#each playlists as |playlist|}}
    {{#if this.id === playlist.id}}
      <div class="playlist">
        <h2 class="playlist-name">{{this.name}}</h2>
        <p class="tracks-meta">
          {{this.tracks.title}}
        </p>
        <p>
          {{this.tracks.artist}}
        </p>
        <button class="btn btn-info btn-sm delete-content">Delete Track</button>
        <button class= "edit-content btn btn-info btn-sm">Edit Content</button>
        <button class= "save-changes btn btn-info btn-sm">Save Changes</button>
      </div>
      {{/if}}
    {{/each}}
  </div>
</div>
