<div class="row">
  <div class="col-sm-8 blog-main">
    {{#each playlists as |playlist|}}
      <div class="playlist">
        <h2 class="playlist-name">{{this.name}}</h2>
        <button class="btn btn-info btn-sm delete-content">Delete Playlist</button>
        <button class= "save-changes btn btn-info btn-sm">Save Changes</button>
      </div>
    {{/each}}
  </div>
</div>
