<div class="row">
  <div class="col-sm-8 track-main">
    {{#each tracks as |track|}}
      <div class="track">
        <h2 class="track-title">{{this.title}}</h2>
        <p class="track-meta">
          {{this.artist}}
        </p>
        <p>
          {{this.host_url}}
        </p>
        <button class="btn btn-info btn-sm delete-content">Delete Track</button>
        <button class= "save-changes btn btn-info btn-sm">Save Changes</button>
      </div>
    {{/each}}
  </div>
</div>
