<div class="row">
  <div class="col-sm-8 track-main">
    {{#each tracks as |track|}}
      <div class="track">
      <ul data-id={{this.id}}>
        <li><h2 class="track-title">{{this.title}}</h2></li>
        <li><p class="track-meta">{{this.artist}}</p></li>
        <li><p>{{this.host_url}}</p></li>
        <li><button class="btn btn-info btn-sm delete-track">Delete Track</button></li>
        <li><button class= "save-changes hidden btn btn-info btn-sm">Save Changes</button></li>
        <li><button class= "add-to-playlist btn btn-info btn-sm">Add to Playlist</button></li>
        <li><select class="selectPlaylist" name="selectPlaylist" id="selectPlaylist"></select>
        </li>
      </ul>
      </div>
    {{/each}}
  </div>
</div>
