$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

#sign-up-button, #change-password-button, #new-sound-button, #new-playlist-button {
    background-color: rgb(77,196,180);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 6px;
    color: #fff;
    // position: relative;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    // float: right;
    // top:-10px;
    // right:-10px;
    // left:-10px;
    // bottom:-10px;
    // outline:1px solid red;
    text-align: center;
    display: block;
    margin-right: 15px;
    margin-top: 17px;
}

#new-sound-button, #new-playlist-button {
  margin: 0 auto;
  border: 10px;
}

.title #sign-in-button {
  float: right;
}

#footerwrap {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin: 0px;
}

.contents {
  background: rgba(38,151,226,0.5);
  // position: relative;
  height: 75%;
  width: 800px;
}

.current-playlist-container {
  align-content: center;
  position: relative;
  background: rgba(38,151,226,0.5);
  width: 65%;
  height: 100%;
  float: left;
  margin: 20px 0 0 20px;
  overflow: scroll;
  border-radius: 5%;
}

.current-playlist-title {
  background: rgba(116,238,168,0.5);
  height: 100%;
  width: 100%;
}

.current-playlist {
  background: rgba(38,151,226,0.5);
  width: 100%;
  height: 95%;
  // overflow: scroll;
}

.tracks-container, .playlists-container {
  background: rgba(38,151,226,0.5);
  width: 24%;
  height: 200px;
  float: right;
  position: static;
  display: block;
  margin: 20px;
  overflow: scroll;
  border-radius: 5%;
  // overflow: auto;
}

.tracks-title, .playlists-title {
  background: rgba(116,238,168,0.5);
  height: 5%;
  width: 100%;
}

.playlists-list, .tracks-list {
  background: rgba(38,151,226,0.5);
  height: 50%;
  width: 100%;
}

.playlist-name, .current-playlist-name, .track-title {
  background: rgba(116,238,168,0.5);
  width: 100%;
}
ul {
  list-style-type: none;
}

p {
  color: white;
  margin: auto;
  float: left;
}

h4, h1, .current-playlist-tracks, .signature {
  color: white;
}

.text {
  // background: rgba(116,238,168,0.5);
  // width: 25%;
}

.hidden {
  display: none;
}

.largest-spacer {
  background-color: black;
  width: 20%;
  height: 50px;
  float: left;
}

.large-spacer {
  // background-color: green;
  width: 35%;
  height: 50px;
  float: left;
}

.medium-spacer {
  // background-color: yellow;
  width: 3%;
  height: 50px;
  position: relative;
  // float: left;
}

.small-spacer {
  // background-color: orange;
  width: 23%;
  height: 20px;
  // float: left;
}

.smallest-spacer {
  // background-color: pink;
  width: 15%;
  height: 20px;
  float: left;
  position: relative;
}
//
// .footer-container {
//   background-color: green;
//   width: 100%;
// }

.signature {
  width: 100%;
  height: 20px;
  float: right;
  background: linear-gradient(to left, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0));
  // position: relative;
  // background-color: red;
}

.title {
  width: 100%;
  position: absolute;
  text-align: center;
  margin: 0px;
  padding: 0px;
  background: linear-gradient(to left, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0));
  // background-color: grey;
}

.blurb {
  // float: left;
  width: 100%;
  border: 5px;
  text-align: center;
  margin: 0px;
  padding: 0px;
  // background-color: grey;
}

.container-fluid {
  margin: 0px;
  padding: 0px;
}

h2 {
  color: white;
  text-decoration: underline;
  text-decoration-style: double;
}

.button {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
}

.container > div {
  flex: 1;
}

.header {
  width: 100%;
  margin: 0px;
}

html,
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to left, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0)), linear-gradient(to right, rgba(255, 255, 255, 0), rgba(134, 241, 164, 1)), url('https://media.giphy.com/media/ZgZIkO614AKEo/giphy.gif') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.message {
  // text-align: center;
  background: linear-gradient(to left, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0));
  font-size: 30px;
  color: white;
  display: block;
  display: table;
  margin: 0 auto;
}

.message-block {
  display: block;
  width: 100%;
  height: 50px;
}

.sign-out {
  // overflow: hidden;
  text-align: center;
}

#sign-out, #sign-in-button {
  background-color: rgb(77,196,180);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 6px;
  color: #fff;
  position: relative;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  border: none;
  float: right;
  // top:-10px;
  // right:-10px;
  // left:-10px;
  // bottom:-10px;
  // outline:1px solid red;
  text-align: center;
  display: block;
  margin-right: 10px;
  margin-top: 10px;
}

#sign-out:hover, #sign-in-button:hover, #new-sound-button:hover, #new-playlist-button:hover, #change-password-button:hover, #sign-up-button:hover {
  border: none;
  background: rgb(133,255,51);
  box-shadow: 0px 0px 1px #777;
}

.button-row {
  position: relative;
  float: left;
  margin: 10px;
  border-radius: 10px;
}

.sound-row {
  // position: relative;
  // float: right;
  text-align: center;
  margin: 10px;
  border-radius: 10px;
  // align-items: center;
}

// .sound-row, #new-sound-button, #new-playlist-button {
//   position:relative;
//    top: 50%;
//    transform: translateY(-75%)
// }

#right-div {
  float: right;
}
